@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a href="/SuperAdmin/Index">Admin</a> <!-- Link for admin -->
        <span> | </span> <!-- Separator -->
        <a href="/JobPortal/UserRegistration">Register as User</a> <!-- Link for user registration -->
        <span> | </span> <!-- Separator -->
        <a href="/JobPortal/UserLogin">User Login</a> <!-- Link for user registration -->
    </div>
</div>
